<div class="ui card" id ="{{name}}">
  <div id="map">
  </div>
  <div class="content">
    <a class="header" id="dodge"><b>{{name}}</b></a>
    <div class="description" id="orange">
     <b> {{course}}<br>
       {{year}}</b>
    </div>
  </div>
  <div class="extra content" >
    <a id="orange">
      <i class="ui phone icon" id="dodge"></i>
      <b>{{phone}}</b>
    </a><br>
    <a id="orange">
      <i class="ui github icon" id="dodge"></i>
      <b>{{github}}</b>
    </a><br>
    <a id="orange">
      <i class="ui envelope outline icon" id="dodge"></i>
      <b>{{email}}</b>
    </a><br>
  </div>
</div>