{{#unless building.room}}
  <h3 class="ui center aligned message">Add a Room to your list!</h3>
{{/unless}}<br><br>
<div class="ui centered cards">
  {{#each building.room}}
    <div class="ui card">
      <div class="image">
        <img src="{{picture}}">
      </div>
      <div class="content">
        <a class="header" id="dodge">{{name}}</a>
      </div>
      <div class="extra content">
      <p>
        <b>Number of Classes: {{classcount}}<br>
          Equipment: {{equipment}}</b>
      </p>
    <a href="/room/{{../campus.id}}/build/{{../building.id}}/getRoom/{{id}}">
    <i class='icon open folder' id="dodge"></i>
    </a>
    <a href="/building/{{../campus.id}}/build/{{../building.id}}/deleteRoom/{{id}}">
    <i class="icon trash deleteRoom" id="dodge"></i>
    </a>
      </div>
    </div>
  {{/each}}
</div>