<div class="ui centered cards">
  {{#each building.room}}
    <div class="ui card">
      <div class="image">
        <img src="{{picture}}">
      </div>
      <div class="content">
        <a class="header">{{name}}</a>
      </div>
      <div class="extra content">
      <p>
        <b>Capacity: {{capacity}}<br>
          Equipment: {{equipment}}</b>
      </p>
    <a href="/room/{{../campus.id}}/build/{{../building.id}}/getRoom/{{id}}">
    <i class='icon open folder'></i>
    </a>
    <a href="/building/{{../campus.id}}/build/{{../building.id}}/deleteRoom/{{id}}">
    <i class="icon trash deleteRoom"></i>
    </a>
      </div>
    </div>
  {{/each}}
</div>