{{#unless campus.building}}
  <h3 class="ui center aligned message">Add a Building to your list!</h3>
{{/unless}}<br><br>
<div class="ui centered cards">
  {{#each campus.building}}
    <div class="ui card">
      <div class="image">
        <img src="{{picture}}">
      </div>
      <div class="content">
        <a class="header" id="dodge">{{name}}</a>
      </div>
      <div class="extra content">
        <p>
        <b>Number of Rooms: {{roomamount}}<br>
        Phone Number: {{phone}}</b>
        </p>
        <a href="/building/{{../campus.id}}/build/{{id}}" >
          <i class="icon folder open" id="dodge"></i>
        </a>
        <a href="/campus/{{../campus.id}}/deleteBuilding/{{id}}" >
          <i class="icon trash deleteBuilding" id="dodge"></i>
        </a>
      </div>
    </div>
  {{/each}}
</div>