{{#each campus.building}}
    <section class ="ui segment">
    <h2 class="ui header">
      {{id}}       
    </h2>
      <p>
        <b>Number of Rooms: {{roomamount}}<br>
        Phone Number: {{phone}}</b>
      </p>
    <a href="/building/{{../campus.id}}/build/{{id}}">
    <i class='icon open folder'></i>
    </a>
    <a href="/campus/{{../campus.id}}/deleteBuilding/{{id}}">
    <i class="icon trash deleteBuilding"></i>
    </a>
    </section>
{{/each}}
