{{> menu}}

      <section class="ui two column grid segment">
        <div class="ui nine wide column">
          <h2 id="dodge">{{title}}</h2>
            Welcome {{fullname}}!<br><br>
            This app will allow users to add college campuses, buildings and rooms relevent to them, to their list.
            Classes can then be scheduled, updated, and deleted by selecting a room.
           <br><br> The user may comment on the app via the about page.
            
          <br><br>
           <a class="ui blue button" href="/dashboard">
              Get Started <i class="arrow circle right icon" id="iconwhite"></i>
            </a> 
          
          <br><br>
          <h2 id="dodge">
            Your Statistics
          </h2>
          <div class="ui tiny statistics">
            <div class="statistic">
            <div class="value">
              {{usercampus}}
            </div>
            <div class="label">
              Campuses
            </div>
            </div>
          <div class="statistic">
          <div class="value">
            {{userbuilding}}
          </div>
          <div class="label">
            Buildings
          </div>
          </div>
          <div class="statistic">
          <div class="value">
            {{userroom}}
          </div>
          <div class="label">
            Rooms
          </div>
          </div>
          <div class="statistic">
          <div class="value">
            {{userclass}}
          </div>
          <div class="label">
            Classes
          </div>
          </div>
        </div>
          
        <h2 id="dodge">
            Averages
        </h2>
          <div class="ui tiny statistics">
            <div class="statistic">
            <div class="value">
              {{avgcampus}}
            </div>
            <div class="label">
              Campuses
            </div>
            </div>
          <div class="statistic">
          <div class="value">
            {{avgbuilding}}
          </div>
          <div class="label">
            Buildings
          </div>
          </div>
          <div class="statistic">
          <div class="value">
            {{avgroom}}
          </div>
          <div class="label">
            Rooms
          </div>
          </div>
          <div class="statistic">
          <div class="value">
            {{avgclass}}
          </div>
          <div class="label">
            Classes
          </div>
          </div>
        </div>
          
          
        <h2 id="dodge">
          Total App Statistics
        </h2>
          <div class="ui tiny statistics">
          <div class="statistic">
          <div class="value">
            {{totalcampus}}
          </div>
          <div class="label">
            Campuses
          </div>
          </div>
          <div class="statistic">
          <div class="value">
            {{totalbuilding}}
          </div>
          <div class="label">
            Buildings
          </div>
          </div>
          <div class="statistic">
          <div class="value">
            {{totalroom}}
          </div>
          <div class="label">
            Rooms
          </div>
          </div>
          <div class="statistic">
          <div class="value">
            {{totalclass}}
          </div>
          <div class="label">
            Classes
          </div>
          </div>
          <div class="statistic">
          <div class="value">
            {{users}}
          </div>
          <div class="label">
            Users
          </div>
          </div>
        </div>
          
        <h2 id="dodge">
          Other Statistics
        </h2>
          <div class="ui tiny statistics">
          <div class="statistic">
          <div class="value">
            {{mostcampus}}
          </div>
          <div class="label">
            Most Campuses
          </div>
          </div>
          <div class="statistic">
          <div class="value">
            {{mostbuilding}}
          </div>
          <div class="label">
            Most Buildings
          </div>
          </div>
          <div class="statistic">
          <div class="value">
            {{mostroom}}
          </div>
          <div class="label">
            Most Rooms
          </div>
          </div>
          <div class="statistic">
          <div class="value">
            {{mostclass}}
          </div>
          <div class="label">
            Most Classes
          </div>
          </div>
        </div>
          
          
      </div>
        <div class="ui seven wide column">
<br><br>
              <img
                class="ui rounded image"
                src="https://cdn.glitch.com/57c0dc07-1113-44d7-8ab8-ff7583315525%2FWaterford-Institute-of-Technology-4.png?v=1614693439498"
              />

          </div>
        </div>
      </section>
    </section>